@page "/"

<PageTitle>Ring Light</PageTitle>

<div style="@OverlayStyle">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudStack Row Justify="Justify.Center" AlignItems="AlignItems.End" Style="height: 100vh">
            <MudSlider @bind-Value="@value" Variant="Variant.Filled" Color="Color.Info" Min="0" Max="255" Class="mb-5"></MudSlider>
        </MudStack>
    </MudContainer>    
</div>

@code{
    double value = 127.5;

    string OverlayStyle => $"background:rgba({value}, {value}, {value}, 1)";
}